.state-selector-container {
  /* background-color: white; */
  color: #ed576b; ;
  padding-bottom: 10px;
  border-radius: 15px;
  font-size: 0.9rem;
}

.state-selector-heading {
  font-size: 1rem;
  margin: 0 0 8px 0;
}

.state-button-confirm {
  display: block;
  margin: 12px auto;
  background-color: #ed576b;;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  width: 130px;
  border: none;
}

.state-selector {
  padding-left: 0 !important;
  margin: 0 auto;
}

.MuiFormLabel-root.Mui-focused {
  color: #ed576b !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #ed576b !important;
}
