.App {
    text-align: center;
    background-color: rgb(43, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ion-page {
    display:block;
}

#root {
    height: 90%;
}


