.App {
    text-align: center;
    background-color: rgb(43, 41, 41);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .react-chatbot-kit-chat-bot-message {
    background-color: blueviolet !important;
}
.react-chatbot-kit-chat-bot-message-arrow {
    border-right: 8px solid blueviolet !important;
}
.react-chatbot-kit-chat-btn-send {
    background-color: blueviolet !important;
}
.react-chatbot-kit-chat-container {
    width: 300px !important;
} */
